*{
margin:0;
padding:0;
box-sizing:border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: linear-gradient(
        90deg,
        gray 50%,
        transparent 50%,
    );
    /* background-color: hotpink; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    animation: dere;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.circular::before {
    content: "";
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: linear-gradient(
        90deg,
        green 50%,
        gray 50%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    animation: girardere;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 

}

@keyframes dere{
    100% {
        transform: rotate(180deg);
    }
}

@keyframes girardere{
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}
@keyframes girarizqu{
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes girarizq{
    0%{
        z-index: -2;
    }
    100% {
        transform: rotate(180deg);
        z-index: -2;
    }
}

.circular::after{
    content: "";
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: linear-gradient(
        90deg,
        transparent 50%,
        aqua 50%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    animation: girarizq;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.circular figure {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: white;
    /* transform: rotate(180deg); */
    animation: girarizqu;
    animation-duration: 4s;
    animation-delay: 4s;
    /* z-index: 2; */
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.circular figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
