* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: white;
}

.contenedor {
  border: 1px solid yellow;
  display: flex;
  height: 300px;
  /*flex-direction: row; propiedad por defecto
  cuando un padre es te tipo FLEX*/
	/*¿Qué significa?*/
	/*Que todos los hijos se colocan en una sola fila*/
	/*Depende:*/
  flex-direction: row;
  /*flex-wrap: nowrap; propiedad por defecto
  ¿Qué significa?, que los hijos no colapsan incluso si necesitaran
  más espacio del que tienen disponible*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor>div {
  border: 1px solid;
  height: 100px;
  width: 100px;
}

.hijo-1{
  width: 300px;
  align-self: flex-start;
}
/*
.hijo-2{
  width: 300px;
}
.hijo-3{
  width: 300px;
}
.hijo-4{
  width: 300px;
} */