* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(30deg, #0c0e2e, #3cb6cb);
}

header {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

h1 {
  font-family: sans-serif;
  color: #eee;
  text-align: center;
  width: 500px;
  margin: 0px auto;
  padding: 30px;
  backdrop-filter: blur(5px);
  border: 1px solid #888;
  border-radius: 15px;
}